.top-navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #FFFFFF;
    border: 1px solid #dedede;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    color: #888;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 75px;
    padding: 0 20px; 
  }
  
  .search-bar {
    margin-right: 700px;
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: #F3F3F3;
    color: #333;
    outline: none;
  }
  
  .logo {
    width: 200px;
    height: auto;
    margin-left: 100px;
  }
  