.postcard-container {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 750px;
  padding: 20px;
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
}

.vote-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-bottom: 10px; 
  max-width: 32px;
}

.vote-button {
  color: #9DBDE3;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 5px;
}

.votes {
  margin-left: 10px;
}

.body {
  width: 650px;
  margin-left: 50px;
  font-weight: 300;
  font-size: 14px;
  color: #B3B3B3;
}

.user-info {
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 50px;
}

.username {
  font-weight: 400;
  font-size: 12px;
  color: #3D5AF1; 
}

.timestamp {
  font-style: italic;
  color: #aaa;
  font-size: 12px;
}

.comments {
  align-self: flex-end;
  margin-right: 50px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  padding-right: 410px;
}

.line {
width: 650px;
color: #E6E6E6;
}
